@import url("https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font-family: "Euphoria Script", cursive;
}

.grid {
  width: 85vw;
  display: grid;
  margin: 0.5rem auto;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  text-align: center;
}

.button {
  margin: 1.5rem auto;
  text-align: center;
}

.btn {
  font-size: 1.1rem;
  padding: 0.2rem 0.6rem;
  letter-spacing: 5px;
  border: 1px solid rgba(187, 186, 186, 0.788);
  transition: all 1s ease;
  cursor: pointer;
  outline: lightgrey;
}

.btn:first-child {
  border-right: 3px double rgb(196, 196, 196);
}

.btn:hover {
  transform: translateX(0.2rem);
}

.loading {
  text-align: center;
}

.loading-img {
  margin: 5rem auto;
  width: 25%;
}

@media only screen and (max-width: 800px) {
  .loading-img {
    width: 70%;
  }
}
